In [1]:
#import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Get Mars News - url
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
#Get Mars News - scrape page into soup
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
#Get Mars news - store title and paragraph info for latest article
news_title = soup.find('div', class_='content_title').text
news_body = soup.find('div', class_='article_teaser_body').text

In [6]:
#JPL Mars Space Image - url
url_1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_1)

In [7]:
#JPL Mars Space Image - scrape page into soup
html = browser.html
soup = bs(html,'html.parser')

In [8]:
#JPL Mars Space Image - find featured image
image_url = soup.find('a', class_='button fancybox')['data-fancybox-href']

In [9]:
#JPL Mars Space Image - create base url
base_url = 'https://www.jpl.nasa.gov'

In [10]:
#JPL Mars Space Image - combine base and image url to create complete url
featured_image_url = f"{base_url}{image_url}"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19347_ip.jpg'

In [11]:
#Mars Weather - url
url_2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_2)

In [12]:
#Mars Weather - scrape page into soup
html = browser.html
soup = bs(html, 'html.parser')

In [13]:
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather

'This storm hit us by surprise. But by chance we happened to be in about the best configuration possible to weather this storm. Another saving grace is dust storms trap heat, so it won’t get as cold at night.'

In [14]:
#Mars Facts - url
url_3 = 'http://space-facts.com/mars/'

In [15]:
mars_table = pd.read_html(url_3)
mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = mars_table[0]
df.columns = ['Characteristics','Mars Info']
df.set_index('Characteristics', inplace=True)
df

                                          Mars Info
Characteristics
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Info</th>\n    </tr>\n    <tr>\n      <th>Characteristics</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Info</th>    </tr>    <tr>      <th>Characteristics</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [19]:
#Mars Hemisphere

url_4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_4)

In [20]:
#Mars Hempisphere - scrape page into soup
#html = browser.html
#soup = bs(html, 'html.parser')

In [21]:
first = browser.find_by_tag('h3')[0].text
second = browser.find_by_tag('h3')[1].text
third = browser.find_by_tag('h3')[2].text
fourth = browser.find_by_tag('h3')[3].text

browser.find_by_css('.thumb')[0].click()
first_img = browser.find_by_text('Sample')['href']
browser.back()

browser.find_by_css('.thumb')[1].click()
second_img = browser.find_by_text('Sample')['href']
browser.back()

browser.find_by_css('.thumb')[2].click()
third_img = browser.find_by_text('Sample')['href']
browser.back()

browser.find_by_css('.thumb')[3].click()
fourth_img = browser.find_by_text('Sample')['href']

hemisphere_image_urls = [
    {'title': first, 'img_url': first_img},
    {'title': second, 'img_url': second_img},
    {'title': third, 'img_url': third_img},
    {'title': fourth, 'img_url': fourth_img}
]

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]